::-moz-placeholder{
    opacity: 1;
    color: black;
    font-weight: bold;
}
::placeholder{
    opacity: 1;
    color: black;
    font-weight: bold;
}

.mar-l{
    margin-left: 10rem;
}
.mar-r{
    margin-right: 10rem;
}

.outline{
    -webkit-text-stroke: 0.1px black;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #212121;
    }
    .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    }
    .footer .whiteh1 {
    font-size: 16px;
    padding: 20px 0px 5px 0px;
    color: #ffffff;
    font-weight: normal;
    font-weight: bold;
    }
    .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    }
    .social ul li {
    display: inline-block;
    padding-right: 5px !important;
    }
    .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    }
      
    .footer .text{
          background-color: #424242;
          color:#ADADAD;
          border-radius: 7px;
          padding:15px;
    }
    .social button{
        border: none;
        font-weight: bold; 
        border-radius: 7px;
        background-color: #FFB800;
        color:#ffffff;
        padding: 15px;
        width: 120px;
        margin-left: 15px;
    }
    .footer p{
    color: #999999;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    }
    
    .footer .container-fluid {
    margin-left: 5%;
    }