::-moz-placeholder{
    opacity: 1;
    color: black;
    font-weight: bold;
}
::placeholder{
    opacity: 1;
    color: black;
    font-weight: bold;
}

.mar-l{
    margin-left: 10rem;
}

.outline{
    -webkit-text-stroke: 0.1px black;
}